.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.box {
  width: 80%;
  height: 80%;
  border-color: red;
  border-width: 1;
  border-style: solid;
}